<div class="panel panel primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">Filter by</div>
      <!-- <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter' />
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col-md-6">
        <h2>Filtered by:{{listFilter}}</h2>
      </div>
    </div> -->
    <div class="table-responsive">
      <table class="table">
          <!-- *ngIf='bikes && bikes.length' -->
        <thead>
          <tr>
            <th>
              <button class="btn btn-primary" (click)='toggleImage()'>
        {{showImage ?'Hide':'Show'}} Image

      </button>
            </th>
            <th>Bikes</th>
            <th>Code</th>
            <th>Available</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let bike of filteredBikes'>
            <td><img *ngIf='showImage' [src]='bike.imageUrl' [title]='bike.bikeName'
               [style.width.px]='imageWidth' [style.margin.px]='imageMargin'
              />
            </td>
            <td>{{bike.bikeName}}</td>
            <td>{{bike.bikeCode}}</td>
            <td>{{bike.relaseDate}}</td>
            <td>{{bike.description}}</td>
            <td>{{bike.category}}</td>
            <td>{{bike.price }}</td>
            <td>{{bike.starRating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>